.pageLayout {
  min-height: 100vh;
  background-color: #1f1f1f;
  /* background-color: #0a0052; */
  /* background-image: url(../../assets/images/background1.png);
  background-position: 0 0;
  background-size: cover; */
}
